.form-control  {
    width: 500px;
    border-radius: 3px;
    margin-left: 20px;
}
.search-icon  {
    position: absolute;
    z-index: left;
    left: 39%;
    top: 30px;
    color: blue;
}
.cart-button { 
    font-size: 30px;
    border-width: 0px;
    border-radius: 3px;
}